<!DOCTYPE html>
<html lang="de">
{{- partial "header.html" . -}}
<body itemscope itemtype="http://schema.org/{{- .Page.Params.schemaorg | default "WebPage" -}}">
  <header class="header">
    <div class="cover">
      <a class="navigation-brand" href="/">
        <img src="img/logo.svg" alt="We Play" />
      </a>
    </div>
  </header>
  {{- partial "navigation.html" . -}}
  <main class="content" itemprop="mainContentOfPage">
    <h1 class="page-title">{{- .Title -}}{{if .Page.Params.Subtitle}}&nbsp;<small>{{.Page.Params.Subtitle -}}</small>{{- end}}</h1>
    {{ .Content }}
  </main>
  {{- partial "footer.html" . -}}
</body>
</html>
