// colors
$highlight-color: #c73123;
$secondary-highlight-color: #fbc034;

$gray-base: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #ddd;
$gray-lightest: #f5f5f5;
$body-bg: #fff;
$black: #000;

$text-color: $gray-base;
$text-color-inactive: $gray-lighter;
$gray-border-color: #ccc;
$gray-light-border-color: $gray-lighter;

// fonts
$font-family: 'Josefin Sans', Arial, sans-serif;
$font-size-larger: 20px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;

$line-height-base: 1.428571429;
$line-height-extra: 1.1 * $line-height-base;

// structure
$top-nav-height: 50px;
$header-min-height: 200px;
$header-max-width: 1200px;
$content-max-width: 1100px;

$mobile-max-width: 768px;
